{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
            <h3>Наименование товара: {{name}}</h3>
            <h4>Цена: {{price}} рублей</h4>
            <h4>Описание: {{description}}</h4>
            <p></p>
            <p></p>
            <button type="submit"><a href="/products/delete-product/{{id}}">Удалить продукт</a></button>
            <p></p>
            <button type="submit"><a href="/products/">Вернуться на страницу "Товары нашей компании"</a></button>
{% endblock %}